html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.image-container , body{
  min-height: 100vh;    
  /* background-color: #136b5c8f; */
  background-color: rgb(113, 162, 163);
  /* background-image: url("/assets/keyboard.svg"); */
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-position 1s ease;
}
form {
  width: 400px;
  height: 500px;
  background: whitesmoke;             /* just for visibility */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: #475569;
  box-shadow: inset 0 0 20px #475569, 0 0 20px #475569 ;

}
.logo-image-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -50px 0px;
}
img{
  width: 100px;
}

#main-container{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  gap: 10px;

}
.feild{
  display: flex;
  justify-content: space-between;
}
input ,label{
  font-size: 18px;

}

#button-container{
  margin-top: -50px;
  background: aqua;
  display: flex;
  align-items: flex-end;
  /* justify-content: flex-end;   */
}

#sign-up {
  padding: 14px 30px;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid  #22c55e;
  background-color:#22c55e ;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: relative;
}
pre{
  margin: -60px 0px;
}