<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Typing Matrices</title>
  <link rel="stylesheet" href="/CSS/login.css">

</head>
<body>
  <div class="image-container">
    <form  action="sign-up">
    <div class="logo-image-container">
      <img src="/assets/logo.png" alt="">
      <h3>Typing that boost you...</h3>
    </div>
    <div id="main-container">
      <label for="email">Email/Phone</label>
      <input  id="emial" type="email" placeholder="Enter Email or Phone ">
      <br>
      <br>
      <label for="pass">Password</label>
      <input  id="password" type="password" placeholder="Enter password">
    </div>
    <div id="button-container">
      <button id="sign-up" type="button"> Sign Up</button>
      <Button id="login" type="button">Login</Button>
    </div>
    <pre>@danishhussain Project From Scratch <br>        using Local Storage</pre>
  </form>
  </div>

  <script src="/JS/index.js"></script>
  
</body>
</html>