<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Typing Matrices</title>
  <link rel="stylesheet" href="/CSS/login.css">
</head>
<body>
  <form  action="sign-up">
    <div class="image-container">
      <img src="/assets/ChatGPT Image Feb 1, 2026, 08_46_46 PM.png" alt="">
      <h3>Typing that boost you...</h3>
    </div>
    <div id="main-container">
      <label for="email">Email/Phone</label>
      <input  id="emial" type="text" placeholder="Enter Email or Phone ">
      <br>
      <br>
      <label for="pass">Password</label>
      <input  id="password" type="password" placeholder="Enter password">
    </div>
    <div id="button-container">
      <button id="sign-up"> Sign Up</button>
      <Button id="login">Login</Button>
    </div>
    <pre>@danishhussain Project From Scratch <br>        using Local Storage</pre>
  </form>
</body>
</html>