<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Typing Matrices sign-up</title>
<link rel="stylesheet" href="/CSS/sign_up.css">
</head>
<body>
  <div class="image-container">
    <form  action="sign-up">
    <div class="logo-image-container">
      <img src="/assets/logo.png" alt="">
      <h3>Typing that boost you...</h3>
    </div>
    <div id="main-container">
      <div class="feild">
        <label for="email">Email/Phone</label>
      <input  id="emial" type="email" placeholder="Enter Email or Phone ">
      </div>      
      <div class="feild">
        <label for="pass">Password</label>
        <input  id="password" type="password" placeholder="Enter password">
      </div>
      <div class="feild">
        <label for="pass">Confrim Password</label>
      <input  id="confrimed-password" type="password" placeholder="Enter Confrim password">
      </div>
      
    </div>
    <div id="button-container">
      <button type="button" id="sign-up"> Sign Up</button>
    </div>
    <pre>@danishhussain Project From Scratch <br>        using Local Storage</pre>
  </form>
  </div>
</body>
</html>